* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height:100%;
  }
header{
    margin-bottom: 40px;
}
  main, form{
    height:100%;
  }

  fieldset {
    height: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.logo{
    width: 120px;
    height:48px;
    margin: 40px 0 0 40px;
}

 textarea {
    /* flex-basis:50%;
    min-width:60%;*/
    flex-grow: 3; 
    max-width: 50%;
    margin: 0 80px;
    outline: 0;
    border: none;
    background-color: #F3F5FC;
    resize:none;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: #0A3871;
} 

textarea::placeholder {
    color: #0A3871; 
}

.principal p {
    display:flex;
    align-items: center;
    margin: auto 20px;
    font-size: 16px;
}

.material-symbols-outlined {
    font-size: 1.5em;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.buttons{
    display:flex;
    justify-content: center;
}

.buttons button{
    flex-grow: 1;
    margin: 24px;
    width: 328;
    height:67px;
    border-radius:24px;
    cursor: pointer;  
}

.btn1{
    font-size: 16px;
    background: #0A3871;
    color: #FFFFFF;
}

.btn_copia{
    height: 67px;
    width: 336px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #FFFFFF;
    margin: 12px auto;
    cursor: pointer;  
}

.btn2{
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 16px;
}

.result{
    /* flex-basis:30%;
    height: 640px; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    min-height: 400px;
    margin: 0 40px;
    background:#FFFFFF;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.88);
    border-radius:24px;
}

#p-result{
    text-align: center;
    margin: 46px 25px auto;
    max-width: 70%;
    overflow: auto;
}

.img_result{
    display: block;
    width: 336px;
    height: 304px;
    margin: 240px auto auto;
}

.mensagem_nao_encontrada{
    /* display: block; */    
    text-align: center;
    width: 336px;
    height: 122px;
    color: #343A40;
}

.mensagem_nao_encontrada h2 {
    font-size: 24px;
}

@media screen and (max-width: 1340px){

    .buttons {
        display: flex;
        justify-content: center;
    }

    .result{
        flex-grow: 1;
        width: 400px;
    }

    .buttons button{
        width: 300px;
        height:67px;  
    }

}

.copia{
    display: none;
}

@media screen and (max-width: 480px){

    body{
        display: flex;
        flex-direction: column;
    }

   /*  fieldset {
        display: flex;
        flex-direction: row;
    } */

    .logo{
        /* border: solid 1px black; */
       /*  flex-direction: column;
        align-items: flex-start; */
        width: 120px;
        height:48px;
        margin: 30px 0 10px 30px;
    }

    textarea {
        /* flex-direction: column;
        align-items: flex-start;       
        flex-wrap: wrap;  */
        background-color: #F3F5FC;
        resize:none;
        max-width: 390px;
        max-height: 60%;
        margin:15px auto;
        font-family: 'Inter', sans-serif;
    }

    .result{
        max-width: 390px;
        flex-grow: 1;
        height: 200px;
        margin:15px auto;
        background:#FFFFFF;
        box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.88);
        border-radius:12px;
    }

    .img_result{
        display: none;
    }

    .buttons{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons button{
        /* flex-grow: 1; */
        margin: 6px 12px;
        width: 328;
        height:67px;
        border-radius:24px;
    }
}